<section class="row">
  <div class="col-1"> <img  src="../../assets/images/profile.png" class="img-fluid rounded float-left mr-3" alt="Profile Pic"style="width:150px;height:80px;"></div>
     <div class="col-2">
             <h1 style="font-family:cursive;margin-top:20px;padding:5px;">Username</h1>
     </div>
</section>
<hr>
<div class="row">
<div class="select col-3 text-center p-5">
  <h4 style="font-family:sans-serif;" class="m-5">Account</h4>
  <div class="btn-group-vertical  " role="group" aria-label="Basic example">
    <a [routerLink]="['/NewsFeed']"><button type="button" class="btn btn-outline-secondary " style="width:200px;height:50px;">Newsfeed</button></a>
    <a [routerLink]="['/BlockedAccounts']"><button type="button" class="btn btn-outline-secondary active " style="width:200px;height:50px;">Blocked Accounts</button></a>
    <a [routerLink]="['/AccountUpdate']"><button type="button" class="btn btn-outline-secondary " style="width:200px;height:50px;">Account Update</button></a>
    <a [routerLink]="['/Search']"><button type="button" class="btn btn-outline-secondary" style="width:200px;height:50px;">Search</button></a>
    <a [routerLink]="['/']" (click) ="onLogout()"><button type="button" class="btn btn-outline-secondary" style="width:200px;height:50px;">Logout</button></a>
  </div>
</div>
<div class="col-3 pl-5 pr-5">
    <div style="border:2px solid black;height:400px;">
      <p class="mt-5 text-center" style="height:200px;"> Profile Image</p>
      <hr>
      <p class="text-center">@username</p>
      <hr>
      <a><p class="text-center">UNBLOCK</p></a>
    </div>
</div>
<div class="col-3 pl-5 pr-5">
      <div style="border:2px solid black;height:400px;">
        <p class="mt-5 text-center" style="height:200px;"> Profile Image</p>
        <hr>
        <p class="text-center">@username</p>
        <hr>
        <a><p class="text-center">UNBLOCK</p></a>
      </div>
  </div>
  <div class="col-3 pl-5 pr-5">
      <div style="border:2px solid black;height:400px;">
        <p class="mt-5 text-center" style="height:200px;"> Profile Image</p>
        <hr>
        <p class="text-center">@username</p>
        <hr>
        <a><p class="text-center">UNBLOCK</p></a>
      </div>
  </div>
</div>