<section class="row">
  <div class="col-1"> <img  src="../../assets/images/profile.png" class="img-fluid rounded float-left mr-3" alt="Profile Pic"style="width:150px;height:80px;"></div>
     <div class="col-2">
             <h1 style="font-family:cursive;margin-top:20px;padding:5px;">Username</h1>
     </div>
</section>
<hr>
<div class="row">
<div class="select col-3 text-center p-5">
 <h4 style="font-family:sans-serif;" class="m-5">Upload Media</h4>
 <div class="btn-group-vertical  " role="group" aria-label="Basic example">
    <a [routerLink]="['/UploadMedia']"><button type="button" class="btn btn-secondary active" style="width:200px;height:50px;">Single Media</button></a>
    <a [routerLink]="['/UploadMMedia']"><button type="button" class="btn btn-secondary" style="width:200px;height:50px;">Multiple Media</button></a>
 </div>
</div>
<div class="main col-9  ">
 <div class="row p-5">    
    <div class="col-7">
       <h1 style="font-family:cursive;" >New Media Page</h1>
         <form style="text-align:left;" class="mt-5">
          <div class="form-group row">
            <label for="browse" class="col-sm-2 col-form-label">Browse</label>
            <div class="col-sm-10">
              <input type="file"  class=" m-3 " id="browse" value="Browse">
              <div>
               <input type="submit" readonly class="btn btn-lg btn-outline-secondary mr-3 ml-3" id="browse" value="Upload">
              </div>
             </div>
          </div>
                 <div class="form-group row">
                   <label for="title" class="col-sm-2 col-form-label">Title</label>
                   <div class="col-sm-10">
                     <input type="text" readonly class="form-control" id="title" placeholder="Enter Title">
                   </div>
                 </div>
                 <div class="form-group row">
                   <label for="description" class="col-sm-2 col-form-label">Description</label>
                   <div class="col-sm-10">
                       <textarea class="form-control" rows="5" id="description"></textarea>
                   </div>
                 </div>
                 <div class="form-group row">
                     <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                     <div class="col-sm-10">
                       <input type="text" readonly class="form-control" id="tags">
                     </div>
                   </div>
                   <div class="form-group row">
                       <label for="effects" class="col-sm-2 col-form-label">Effects</label>
                       <div class="col-sm-10">
                         <div class="btn-group w-100 " role="group" aria-label="Basic example">
                           <button type="button" class="btn btn-outline-secondary ">Sepia</button>
                           <button type="button" class="btn btn-outline-secondary" >Grey</button>
                           <button type="button" class="btn btn-outline-secondary " >Brightness</button>
                           <button type="button" class="btn btn-outline-secondary">Contrast</button>
                         </div>
                       </div>
                     </div>
               </form>
       </div>
       <div class="col-1">
         <h4 style="margin-top:200px;text-align:center;">OR</h4>
       </div>
       <div class="col-2 text-center w-100 mt-5" style="border:2px solid black">
             <p style="margin-top:180px;">Drag & Drop here and Click on Upload</p>
       </div>
       </div>
       <hr>
       <div class="col-7">
               <form style="text-align:left;" class="mt-5">
                <div class="form-group row">
                  <label for="browse" class="col-sm-2 col-form-label">Browse</label>
                  <div class="col-sm-10">
                    <input type="file"  class=" m-3 " id="browse" value="Browse">
                    <div>
                     <input type="submit" readonly class="btn btn-lg btn-outline-secondary mr-3 ml-3" id="browse" value="Upload">
                    </div>
                   </div>
                </div>
                       <div class="form-group row">
                         <label for="title" class="col-sm-2 col-form-label">Title</label>
                         <div class="col-sm-10">
                           <input type="text" readonly class="form-control" id="title" placeholder="Enter Title">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label for="description" class="col-sm-2 col-form-label">Description</label>
                         <div class="col-sm-10">
                             <textarea class="form-control" rows="5" id="description"></textarea>
                         </div>
                       </div>
                       <div class="form-group row">
                           <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                           <div class="col-sm-10">
                             <input type="text" readonly class="form-control" id="tags">
                           </div>
                         </div>
                         <div class="form-group row">
                             <label for="effects" class="col-sm-2 col-form-label">Effects</label>
                             <div class="col-sm-10">
                               <div class="btn-group w-100 " role="group" aria-label="Basic example">
                                 <button type="button" class="btn btn-outline-secondary ">Sepia</button>
                                 <button type="button" class="btn btn-outline-secondary" >Grey</button>
                                 <button type="button" class="btn btn-outline-secondary " >Brightness</button>
                                 <button type="button" class="btn btn-outline-secondary">Contrast</button>
                               </div>
                             </div>
                           </div>
                     </form>
             </div>
             <hr>
             <div class="col-7">
                       <form style="text-align:left;" class="mt-5">
                        <div class="form-group row">
                          <label for="browse" class="col-sm-2 col-form-label">Browse</label>
                          <div class="col-sm-10">
                            <input type="file"  class=" m-3 " id="browse" value="Browse">
                            <div>
                             <input type="submit" class="btn btn-lg btn-outline-secondary mr-3 ml-3" id="browse" value="Upload">
                            </div>
                           </div>
                        </div>
                               <div class="form-group row">
                                 <label for="title" class="col-sm-2 col-form-label">Title</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="title" placeholder="Enter Title">
                                 </div>
                               </div>
                               <div class="form-group row">
                                 <label for="description" class="col-sm-2 col-form-label">Description</label>
                                 <div class="col-sm-10">
                                     <textarea class="form-control" rows="5" id="description"></textarea>
                                 </div>
                               </div>
                               <div class="form-group row">
                                   <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                                   <div class="col-sm-10">
                                     <input type="text" readonly class="form-control" id="tags" placeholder="Select Tags">
                                   </div>
                                 </div>
                                 <div class="form-group row">
                                     <label for="effects" class="col-sm-2 col-form-label">Effects</label>
                                     <div class="col-sm-10">
                                       <div class="btn-group w-100 " role="group" aria-label="Basic example">
                                         <button type="button" class="btn btn-outline-secondary ">Sepia</button>
                                         <button type="button" class="btn btn-outline-secondary" >Grey</button>
                                         <button type="button" class="btn btn-outline-secondary " >Brightness</button>
                                         <button type="button" class="btn btn-outline-secondary">Contrast</button>
                                       </div>
                                     </div>
                                   </div>
                             </form>
                     </div>
</div>
</div>